# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# common aliases
#alias make="mmake"

# Shortcuts
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"

# Note: `GREP_OPTIONS="--color=auto"` is deprecated, hence the alias usage.
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"

# Recursively delete `.DS_Store` files
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"

# URL-encode strings
alias urlencode='python -c "import sys, urllib as ul; print ul.quote_plus(sys.argv[1]);"'

# Project related
alias pj="cd ~/src/work/mandian_server/server/"
alias pg="cd ~/src/work/pacer_groups/"
alias pa="cd ~/src/work/pacer_android/"
# alias c.update_dongdong_web_bundle='cd ~/src/work/pacer_groups;PRODUCT=dongdong_android make prod-android-bundle; echo "Updated dongdong web bundle @$(git log --pretty=format:'%h' -n 1)"|pbcopy; cd ~/src/work/pacer_android; ./scripts/update_dongdng_web_bundle.sh'
# alias c.update_pacer_web_bundle='cd ~/src/work/pacer_groups;PRODUCT=pacer_android make prod-android-bundle;  echo "Updated pacer web bundle @$(git log --pretty=format:'%h' -n 1)"|pbcopy; cd ~/src/work/pacer_android; ./scripts/update_pacer_web_bundle.sh'

# ec2 instances
alias ec2web="open http://859974941675.signin.aws.amazon.com/console"
alias ec2a="ssh ubuntu@staging.dongdong51.com"

alias read_db="ssh ubuntu@ec2-54-81-98-51.compute-1.amazonaws.com"
alias ec2p="ssh ubuntu@ec2-54-208-157-80.compute-1.amazonaws.com"
alias ec2q="ssh ubuntu@ec2-52-91-142-114.compute-1.amazonaws.com"
alias ec2r="ssh ubuntu@ec2-52-91-81-215.compute-1.amazonaws.com"
alias ec2t="ssh ubuntu@ec2-52-91-155-158.compute-1.amazonaws.com"
alias ec2u="ssh ubuntu@ec2-52-90-162-162.compute-1.amazonaws.com"
alias ec2v="ssh ubuntu@ec2-52-90-224-198.compute-1.amazonaws.com"
alias ec2w="ssh ubuntu@ec2-54-88-3-9.compute-1.amazonaws.com"
alias ec2x="ssh ubuntu@ec2-54-174-221-101.compute-1.amazonaws.com"
alias ec2y="ssh ubuntu@ec2-52-90-235-73.compute-1.amazonaws.com"
alias ec2z="ssh ubuntu@ec2-54-89-42-103.compute-1.amazonaws.com"

alias dev="ssh ubuntu@dev.dongdong51.com"
alias dev_ops="ssh ubuntu@do.dongdong51.com"
alias watson="ssh ubuntu@watson.dongdong17.com"
alias ci="ssh werun@123.56.115.57"
alias wx="ssh ubuntu@182.92.204.83"
alias jp1="ssh -i ~/.ssh/mandiankey_02.pem ubuntu@54.248.219.219"
alias jp2="ssh -i ~/.ssh/mandiankey_02.pem ubuntu@54.248.112.26"
alias rdstest="mysql -h pacerfacebooktest.cmd7nqtaffk4.us-east-1.rds.amazonaws.com -upwdbroot -p pacerdb -A"
alias rdsprod="mysql -h pacerdbprod.cmd7nqtaffk4.us-east-1.rds.amazonaws.com -upwdbroot -p pacerdb -A"
alias coach="ssh ubuntu@52.2.87.138"
alias pgp="open https://play.google.com/apps/publish"
alias aliyun='open http://signin.aliyun.com/1689961257397308/login.htm'
alias s3='open https://859974941675.signin.aws.amazon.com/console'
alias a.pr="open https://bitbucket.org/pacerhealth/pacer_android/pull-requests/"
alias a.stop_pacer='adb shell am force-stop cc.pacer.androidapp'
alias a.stop_dongdong='adb shell am force-stop com.mandian.android.dongdong'

alias p.estimate='open "https://docs.google.com/spreadsheets/d/127iuLOG0B3Ukydv-VsA2WIPVaJzKpYBEF6OOLyXFlGc/edit#gid=1265009236"'
alias p.backlog='open "https://docs.google.com/spreadsheets/d/1gnnmB42mJ4k1limeYZHgv1tjwx9Nplxjf40xXGnj09U/edit#gid=0"'
alias p.file='open "https://docs.google.com/spreadsheets/d/1gnnmB42mJ4k1limeYZHgv1tjwx9Nplxjf40xXGnj09U/edit#gid=0"'
alias p.release='open "https://docs.google.com/spreadsheets/d/1As9Cu8elTzPh9lEqYZeqYCRvkbv1LBcRa9scp42ALeg/edit#gid=0"'
alias okr='open "https://drive.google.com/drive/folders/0BzTBBCzYzHM-Y3B2c0p6Ri1GOTQ"'
alias p.interview='open  "https://docs.google.com/spreadsheets/d/1RVrRC06Z5D-19aqSNdLGBmofzP_LCEfbFbaEuEx-cKw/edit?usp=drive_web"'
alias p.calendar='open "https://calendar.google.com/calendar/render#main_7"'

#Emacs
alias e='emacsclient -nw '
alias eg='emacsclient -n'
alias e.kill="pkill -SIGUSR2 -i Emacs"
alias adbs="adb shell /data/home/bin/termux.sh"
alias ssh-add='ssh-add -t 403200m'

alias ale="adb logcat -s EB"
